manifest {
    homePage = 'https://github.com/systems-genomics-lab/next-bgc'
    description = 'Pipeline for BGC predicton from metagenomics samples'
    mainScript = 'next-bgc.nf'
    version = '1.0.0'
}

process.container = 'ghcr.io/systems-genomics-lab/bgc-engine'

docker {
    enabled = true
    temp = 'auto'
}
